*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
select{
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -15%);
}
h1, h2{
  text-align: center;
}
.box{
width: 25%;
height: 100%;
position: absolute;
top: 20%;
left: 5%;
text-align: center;
}
.wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  margin-top: 20px;

}

.dashboard{
  width: 80vh;
  height: 80vh;
  flex-wrap: wrap;
  border: 3px solid black;
}
.dashboard.easy{
  display: flex;
}
.dashboard.medium{
  display: none;
}
.dashboard.hard{
  display: none;
}
.easy .slot{
  width: calc(100% / 10);
  border: 1px solid black;
  height: calc(100% / 10);
}
.medium > .slot{
  width: calc(100% / 8);
  border: 1px solid black;
  height: calc(100% / 8);
}
.hard > .slot{
  width: calc(100% / 6);
  border: 1px solid black;
  height: calc(100% / 6);
}
.slot:hover{
  background-color: lightgrey;
}
